<form action='/add_links' method='post'>
  <input type='text' name='title'>
  <input type='text' name='url'>
  <input type='text' name='tag'>
  <input type='submit' value="Submit">
</form>

Want to go bak?

<form action='/links' method='get'>
  <input type='submit' value="Take me back!">
</form>
